<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/css/marketing.beta.signup.css?v=23">
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css?v=23">
</head>
<body id="BETA">
<div class="all">
    
    <div id="logo-text" class="logo-text"></div>
    <div id="logo" class="logo"></div>
    <div class="tagline">real-time fantasy sports</div>
    
    <%
        if (valid) {
    %>
    <ul id="error-box"></ul>
    <div id="form" class="form">
        <h3>Reset Your Password - <%= user.display_name %></h3>
        <label for="password">New Password</label>
        <input type="password" id="password" maxlength="100" />
        <label for="password2">Confirm New Password</label>
        <input type="password" id="password2" maxlength="100" />
        <input type="hidden" id="code" value="<%= user.codes.password %>" />
        <button id="reset-button">Reset My Password</button>
    </div>
    <div id="sent-box" class="form hidden">
        <h3>Your Password has been reset!</h3>
        <p>
            <a href="/signin">Sign in</a> with your new password.
        </p>
    </div>
    <%
        } else {
    %>
    <div class="form">
        <h3>Expired Password Reset Link</h3>
        <p>
            This password reset link has expired.
            If you believe this to be a mistake, please contact SleeperBot support
            at <a href="mailto:support@sleeperbot.com">support@sleeperbot.com</a>.
        </p>
    </div>
    <%
        }
    %>
</div>
<script type="text/javascript" src="/js/jquery.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.ui.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.json.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.defaultText.js?v=23"></script>
<script type="text/javascript" src="/js/underscore.js?v=23"></script>
<script type="text/javascript" src="/js/ui.js?v=23"></script>
<script type="text/javascript" src="/js/ui.request.js?v=23"></script>
<script type="text/javascript" src="/js/page.auth.password.reset.js?v=23"></script>
<script type="text/javascript">UI.render('auth.password.reset');</script>
</body>
</html>