<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/css/marketing.beta.signup.css?v=23">
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css?v=23">
</head>
<body id="BETA">
<div class="all">
    
    <div id="logo-text" class="logo-text"></div>
    <div id="logo" class="logo"></div>
    <div class="tagline">real-time fantasy sports</div>
    
    <ul id="error-box"></ul>
    <div id="form" class="form">
        <h3>Forgot Your Password?</h3>
        <label for="email">Enter Your Email</label>
        <input type="text" id="email" maxlength="100" />
        <button id="reset-button">Submit</button>
    </div>
    <div id="sent-box" class="form hidden">
        <h3>Check your email</h3>
        <p>
            Went sent you link to reset your password.
            Make sure to check the <strong>junkmail</strong> folder as well.
        </p>
    </div>

</div>
<script type="text/javascript" src="/js/jquery.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.ui.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.json.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.defaultText.js?v=23"></script>
<script type="text/javascript" src="/js/underscore.js?v=23"></script>
<script type="text/javascript" src="/js/ui.js?v=23"></script>
<script type="text/javascript" src="/js/ui.request.js?v=23"></script>
<script type="text/javascript" src="/js/page.auth.password.js?v=23"></script>
<script type="text/javascript">UI.render('auth.password');</script>
</body>
</html>