<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/css/marketing.beta.signup.css?v=23">
    <link rel="stylesheet" type="text/css" href="/styles/css/football.tools.tiersheet.css?v=23">
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css?v=23">
</head>
<body id="BETA">
<div class="all">
    
    <div id="logo-text" class="logo-text"></div>
    <div id="logo" class="logo"></div>
    <div class="tagline">real-time fantasy sports</div>
    
    <div class="form">
        <h3>You've been signed out!</h3>
        <p>Good bye! <a href="/signin">Sign in</a>.</p>
    </div>

</div>
<script type="text/javascript" src="/js/jquery.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.cookie.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.ui.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.json.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.defaultText.js?v=23"></script>
<script type="text/javascript" src="/js/underscore.js?v=23"></script>
<script type="text/javascript" src="/js/ui.js?v=23"></script>
<script type="text/javascript" src="/js/ui.request.js?v=23"></script>
<script type="text/javascript" src="/js/page.auth.signout.js?v=23"></script>
<script type="text/javascript">UI.render('auth.signout');</script>
</body>
</html>