.ui-feed
  .topic-input
    border-radius 5px
    padding 5px
    border-color 1px solid darkBlue
    background lightBlue
  .title
    overflow hidden
    .time
      float left
      width 50px
    .text
      font-weight bold
      float left
      width 300px
  .comment
    overflow hidden
    .time
      float left
      width 50px
    .text
      float left
      width 300px