.ui-feed .topic-input {
  border-radius: 5px;
  padding: 5px;
  border-color: 1px solid darkBlue;
  background: lightBlue;
}
.ui-feed .title {
  overflow: hidden;
}
.ui-feed .title .time {
  float: left;
  width: 50px;
}
.ui-feed .title .text {
  font-weight: bold;
  float: left;
  width: 300px;
}
.ui-feed .comment {
  overflow: hidden;
}
.ui-feed .comment .time {
  float: left;
  width: 50px;
}
.ui-feed .comment .text {
  float: left;
  width: 300px;
}
