.map
  .unit
    position absolute
    .name
      color yellow
      text-shadow black 0 0 4px;
      font bold 11px Arial
      width 100px
      text-align center
      position relative
    .body
      position relative
  .user
    .name
      color white
      text-shadow black 0 0 4px;
      font bold 11px Arial
      width 100px
      text-align center
      position relative