border-radius()
  -webkit-border-radius arguments  
  -moz-border-radius arguments  
  border-radius arguments

lightBlue = #C3E1FA
darkBlue = #7ABEF5

body
  overflow hidden

html
  background white

a
  cursor pointer