<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/css/marketing.beta.signup.css?v=23">
    <link rel="stylesheet" type="text/css" href="/styles/css/base.css?v=23">
</head>
<body id="BETA">

<div class="all">
    
    <div id="logo-text" class="logo-text"></div>
    <div id="logo" class="logo"></div>
    <div class="tagline">real-time fantasy sports</div>
    
    <div class="form">
        <h3>The hottest fantasy sports community</h3>
        <p>SleeperBot launched in August 2010 as a Fantasy Football Tiersheet application.</p>
        <p>
            SleeperBot immediately expanded to become a discussion community with the
            release of real-time threaded topics - an innovation in online conversation user interface design.
        </p>
        <p>
            The online conversation application was an immediate hit on Game Days, crowdsourcing real-time
            information among members.  Eventually, users began visiting on weekdays as well.
        </p>
        <p>SleeperBot expanded into Basketball soon after with Basketball tiersheets, which was featured on many blogs and forums.</p>
        <p>Today, SleeperBot is doubling in size each week, adding community features as well as analysis and data tools to help fantasy sports
        players everywhere have a better understanding of the game and dominate their leagues.</p>
        
    </div>
</div>
<script type="text/javascript" src="/js/jquery.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.ui.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.json.js?v=23"></script>
<script type="text/javascript" src="/js/jquery.defaultText.js?v=23"></script>
<script type="text/javascript" src="/js/underscore.js?v=23"></script>
<script type="text/javascript" src="/js/ui.js?v=23"></script>
<script type="text/javascript" src="/js/ui.request.js?v=23"></script>
<script type="text/javascript" src="/js/page.marketing.about.js?v=23"></script>
<script type="text/javascript">UI.render('marketing.about');</script>
</body>
</html>