.ui-map-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10000px;
  height: 10000px;
  cursor: pointer;
}
.ui-map-1 .tile {
  position: absolute;
  height: 75px;
  width: 75px;
  background: #008000;
}
.ui-map-1 .type-99 {
  background: #000;
}
.ui-map-1 .path {
  background: #ff0;
}
