.ui-map-1
  position absolute
  top 0
  left 0
  width 0
  height 0
  cursor pointer
  .tile
    position absolute
    background no-repeat url('/img/tiles.png')
  .tile.type-1,
    background-position -2px -68px
  .tile.type-2
    background-position -130px -2px
  .tile.type-3
    background-position -260px -2px
  .tile.type-4
    background-position -388px -2px
  .tile.type-5
    background-position -516px -2px
  .tile.type-6
    background-position -645px -2px
  .tile.type-7, .tile.type-8, .tile.type-9, .tile.type-10
    background-position -2px -2px
  .tile.type-99
    background none
  .tile.path
    background none