.ui-map-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}
.ui-map-1 .tile {
  position: absolute;
  background: no-repeat 0 0;
  background-size: 128px 64px;
  display: block;
  position: absolute;
}
.ui-map-1 .tile.type-1 {
  background-image: url("/img/tile_07.png");
}
.ui-map-1 .tile.type-2 {
  background-image: url("/img/tile_02.png");
}
.ui-map-1 .tile.type-3 {
  background-image: url("/img/tile_03.png");
}
.ui-map-1 .tile.type-4 {
  background-image: url("/img/tile_04.png");
}
.ui-map-1 .tile.type-5 {
  background-image: url("/img/tile_05.png");
}
.ui-map-1 .tile.type-6 {
  background-image: url("/img/tile_06.png");
}
.ui-map-1 .tile.type-7,
.ui-map-1 .tile.type-8,
.ui-map-1 .tile.type-9,
.ui-map-1 .tile.type-10 {
  background-image: url("/img/tile_01.png");
}
.ui-map-1 .tile.type-99 {
  background: none;
}
.ui-map-1 .tile.path {
  background: none;
}
