.ui-map-1
  position absolute
  top 0
  left 0
  width 0
  height 0
  cursor pointer
  .tile
    position absolute
    height 75px
    width 75px
    background green
  .tile.type-99
    background black
  .tile.path
    background yellow