!!! 5
html(lang="en")
  head
    title RPG Demo
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/ui.css')
  body(scroll='no')
    #main
    script(type='text/javascript', src='/js/guid.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/jquery.ui.js')
    script(type='text/javascript', src='/js/jquery.loop.js')
    script(type='text/javascript', src='/js/lazyload.js')
    script(type='text/javascript', src='/js/socketio.js')
    script(type='text/javascript', src='/js/jade.js')
    script(type='text/javascript', src='/js/json2.js')
    script(type='text/javascript', src='/js/amplify.store.js')
    script(type='text/javascript', src='/js/history.adapter.jquery.js')
    script(type='text/javascript', src='/js/history.js')
    script(type='text/javascript', src='/js/web.js')
    script(type='text/javascript', src='/js/mm.init.js')
    