script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
script(type='text/javascript', src='/js/socketio.js')
script(type='text/javascript', src='/js/sb.core.js')
script(type='text/javascript', src='/js/jade.js')